<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {% comment %}
    Prevent FOUC https://bugzilla.mozilla.org/show_bug.cgi?id=1404468https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer -->
    {% endcomment %}
    <script>/**/</script>

    <div class="container">
      <nav>
        <ul>
          <li><a href="/" {% if page.title == "index" %}class="active"{% endif %}>Home</a></li>
          <li><a href="/writing" {% if page.title == "Writing" %}class="active"{% endif %}>Writing</a></li>
          <li><a href="/speaking" {% if page.title == "Speaking" %}class="active"{% endif %}>Speaking</a></li>
          <li><a href="/projects" {% if page.title == "Projects" %}class="active"{% endif %}>Projects</a></li>
        </ul>
      </nav>

      {%- if page.title == "index" -%}
      <header class="site-header">
        <h1>
          <span class="icon icon-logo"></span>
          Hi! I'm <span class="p-name">Paul Hinze</span>.
        </h1>
      </header>
      {%- endif -%}

      <main class="page-content {{ page.class }}" aria-label="Content">
        {{ content }}
      </main>

      {%- include footer.html -%}
    </div>

  </body>

</html>
